.myButton {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:4px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.myButton:active, .deleteButton:active {
	position:relative;
	top:1px;
}

* {
  font-family: 'Baloo Chettan', cursive;
}

.deleteButton {
	-moz-box-shadow: 0px 0px 0px 2px #000000;
	-webkit-box-shadow: 0px 0px 0px 2px #000000;
	box-shadow: 0px 0px 0px 2px #000000;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc0000), color-stop(1, #e81212));
	background:-moz-linear-gradient(top, #fc0000 5%, #e81212 100%);
	background:-webkit-linear-gradient(top, #fc0000 5%, #e81212 100%);
	background:-o-linear-gradient(top, #fc0000 5%, #e81212 100%);
	background:-ms-linear-gradient(top, #fc0000 5%, #e81212 100%);
	background:linear-gradient(to bottom, #fc0000 5%, #e81212 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc0000', endColorstr='#e81212',GradientType=0);
	background-color:#fc0000;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:9px;
	padding:0px 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ff0022;
}
.deleteButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e81212), color-stop(1, #fc0000));
	background:-moz-linear-gradient(top, #e81212 5%, #fc0000 100%);
	background:-webkit-linear-gradient(top, #e81212 5%, #fc0000 100%);
	background:-o-linear-gradient(top, #e81212 5%, #fc0000 100%);
	background:-ms-linear-gradient(top, #e81212 5%, #fc0000 100%);
	background:linear-gradient(to bottom, #e81212 5%, #fc0000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e81212', endColorstr='#fc0000',GradientType=0);
	background-color:#e81212;
}
.deleteButton:active {
	position:relative;
	top:1px;
}

#icon:before {
    content: '\f00c'; 
    font-family: FontAwesome;
    left:-5px;
    position:absolute;
    top:0;
 }
